md-content(layout="column",flex,style="overflow:hidden;")
    md-content(layout="column")
        //头部toolbar
        md-toolbar.md-table-toolbar.md-default
            div.md-toolbar-tools(fx-toolbar,layout="row",items="saltCtl.toolbar",ctls="saltCtl")
        md-divider
    md-content(flex)
        div.md-toolbar-tools(fx-toolbar,layout="row",items="saltCtl.toolbarTest",ctls="saltCtl")