md-sidenav.sidenav-100.md-sidenav-right(md-component-id="executeCmdRight",layout="column",md-whiteframe="4",md-is-open="executeCmdCtl.isOpen")
    md-content(flex,layout="column")
        md-toolbar.md-table-toolbar.md-hue-3(layout="row")
            div.md-toolbar-tools
                span(flex) 执行结果
                md-button.md-icon-button(ng-click="executeCmdCtl.isOpen=false;")
                    md-icon
                        ng-md-icon(icon="arrow_forward")
        md-divider
        md-content(flex,layout="column")
            md-progress-linear.md-accent(ng-if="!executeCmdCtl.process.fail",md-mode="buffer",value="{{executeCmdCtl.process.complete}}",md-buffer-value="{{executeCmdCtl.process.buffer}}")
            md-progress-linear.md-warn(ng-if="executeCmdCtl.process.fail",md-mode="buffer",value="{{executeCmdCtl.process.complete}}",md-buffer-value="{{executeCmdCtl.process.buffer}}")
            div(layout="row",flex)
                md-card
                    md-card-title(flex="none")
                        md-card-title-text
                            span.md-headline 命令详情({{executeCmdCtl.command.key}})
                        md-card-title-media
                    md-card-content(layout="column",flex)
                        h3 命令说明：{{ executeCmdCtl.command.title }}
                        h4 命令：{{ executeCmdCtl.command.cmd }}
                        p 参数：{{ executeCmdCtl.command.args }}
                        p 主机数量：{{ executeCmdCtl.process.total }}
                        //- span {{executeCmdCtl.process | json}}
                md-card(flex)
                    md-card-content(layout="row",flex)
                        div(ng-if="executeCmdCtl.jid",fx-list-action,key="{{executeCmdCtl.listKey}}",selected="executeCmdCtl.deviceSelected",flex,multiple="true",auto-select="true",filter="executeCmdCtl.resFilter",client-data="executeCmdCtl.cmdResClientData")
                md-card(flex)
                    md-card-title(flex="none")
                        md-card-title-text
                            span.md-headline 结果反馈
                        md-divider
                    md-card-content(layout="column",flex,style="overflow:auto;")
                        md-list(flex)
                            md-list-item.md-3-line(ng-repeat="item in executeCmdCtl.deviceSelected")
                                div.md-list-item-text(layout="column")
                                    h2 {{item._source.id}} -- {{item._source.deviceSn}}
                                    div(angular-terminal="item._source.deviceSn",greetings="{{item._source.return||'no info'}}")
            //- md-content(flex)
                //- md-card(flex)
                //-     md-card-title(flex="none")
                //-         md-card-title-text
                //-             span.md-headline 结果反馈
                //-     md-card-content(layout="column",flex)
                //-         md-divider
                //-         md-list()
                //-             md-list-item.md-3-line(ng-repeat="item in executeCmdCtl.deviceSelected")
                //-                 div.md-list-item-text(layout="column")
                //-                     h2 {{item._source.id}} -- {{item._source.deviceSn}}
                //-                     div(angular-terminal="item._source.deviceSn",greetings="{{item._source.return||'no info'}}")