md-content(layout="column",flex,layout-align="center center")
    h1 雅典娜
    //- md-input-container.md-block.no-errors
    //-     label 搜索图标
    //-     input(ng-model="contentCtl.filter")
    //- md-content(flex)
    //-     md-button(ng-click="contentCtl.doOpenIconInfo($event,icon)",ng-repeat="icon in contentCtl.icons | filter:contentCtl.filter | orderBy | limitTo:50 ")
    //-         div(layout="column")
    //-             md-icon
    //-                 ng-md-icon(icon="{{::icon}}")
    //-             span {{::icon}}