md-input-container(md-no-float,class="md-icon-float md-block no-tb-margin no-errors no-borders")
    md-icon
        ng-md-icon(icon="search")
    input(placeholder="{{title}}",aria-label="{{title}}",  ng-model="searchText")
md-divider