md-content(flex,layout="row")
    md-card(layout="column",flex="40")
        section(fx-list-action,key="interface",flex)
        md-divider
        section(fx-list-action,key="schemaListAction",flex)   
    md-card(layout="column",flex="60")
        section(fx-list-action,key="action",flex)